*{
    padding: 0%;
    margin: 0%;
}



body{
    margin: auto;
}

.line1{
background-color: #802392;
z-index: -998;
width: 100%;
height: 100%;
position: fixed;
overflow-y: hidden;
top: 0;
left: 0;
}
.line2{
    background-color: #b359c5;
    z-index: -998;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    position: fixed;
    overflow-y: hidden;
    top: 0;
left: 0;
}



.principal{
background-color: aliceblue;
z-index: 1;
margin: 5%;
border-radius: 20px;
}
section{
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
label{
    margin: 5%;
}
section .input{
    display: flex;
    flex-direction: column;
    margin: 1% 5%;
    width: 70%;
   
}
input {
    padding: 0 5%;
    border: none;
    border-bottom: 2px solid rgb(82, 65, 65);
    height: 20px;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
  }


  .action{
      padding: 10px;
   
  }

  .rating{
      display: flex;
      justify-content: space-around;
  }

  .bold{
      font-weight: bold;
      font-size: large;
  }

  .buttons{
      display: flex;
      justify-content: space-around;
      padding: 5%;
  }

  .buttons button{
    padding: 10px;
    border-radius: 10px;
  }


  #toConvert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  z-index: -999;
}
#toConvert section{
    display: block;
    margin-bottom: 10px;
    border: 0;
    left: 0;
    position: static;
   
  }
  #desc{
    page-break-after: always;

  }
  
  #toConvert p{
   margin: 15px;
  }
  #toConvert h2{
    right:5%;
  }

.flex{
display: flex;
align-items: center;

}

.center{
    justify-content: center;
}
#dtwnReadPdf{
    position: absolute;
    right: 10px;
}

#authorPdf{
    position: absolute;
    right: 10px;
}
#genrePdf{
    position: absolute;
    left: 10px;
}


.icon-100{
    width: 100px;
}

.icon-25{
    width: 25px;
}

.icon-50{
    width: 50px;
}

.margin-right{
    margin-right: 5px;
}

.margin-top{
    margin-top: 15px;
}