*{
    padding: 0%;
    margin: 0%;
}



body{
    margin: auto;
}

.line1{
background-color: #802392;
z-index: -998;
width: 100%;
height: 100%;
position: fixed;
overflow-y: hidden;
top: 0;
left: 0;
}
.line2{
    background-color: #b359c5;
    z-index: -998;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    position: fixed;
    overflow-y: hidden;
    top: 0;
left: 0;
}



.principal{
background-color: aliceblue;
z-index: 1;
margin: 5%;
border-radius: 20px;
}
section{
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
label{
    margin: 5%;
}
section .input, textarea{
    display: flex;
    flex-direction: column;
    margin: 1% 5%;
    width: 70%;
   
}
input {
    padding: 0 5%;
    border: none;
    border-bottom: 2px solid rgb(82, 65, 65);
    height: 20px;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
  }

  .action{
      padding: 10px;
   
  }

  .rating{
      display: flex;
      justify-content: space-around;
  }

  .bold{
      font-weight: bold;
      font-size: large;
  }

  .buttons{
      display: flex;
      justify-content: space-around;
      padding: 5%;
  }

  .buttons button{
    padding: 10px;
    border-radius: 10px;
  }

 
  #toConvert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  margin: 1em;
 
  border-radius: 20px;
}
.glass{
    background-color: rgba(255, 255, 255, .15); 
    backdrop-filter: blur(20px);
}
#toConvert section{
    display: block;
    margin-bottom: 10px;
    border: 0;
    left: 0;
    position: static;
   
  }
  #desc{
    page-break-after: always;

  }
  
  #toConvert p{
   margin: 15px;
  }
  #toConvert h2{
    right:5%;
  }

.flex{
display: flex;
align-items: center;

}

.center{
    justify-content: center;
}
#dtwnReadPdf{
    position: absolute;
    right: 10px;
}

#authorPdf{
    position: absolute;
    right: 10px;
}
#genrePdf{
    position: absolute;
    left: 10px;
}


.icon-100{
    width: 100px;
}

.icon-25{
    width: 25px;
}

.icon-50{
    width: 50px;
}

.margin-right{
    margin-right: 5px;
}

.margin-top{
    margin-top: 15px;
}
.margin-left{
    margin-left: 5px;
}



#settings-button{
    position: fixed;
    right: 3%;
    bottom: 3%;
}

#settings{
    position: fixed;
    z-index: 999;
    display: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.dropbtn {
  
 
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content p:hover {background-color: #ddd}
  
  .show {display:block;}

  @media screen and (min-width: 750px ) {
    body{
        display: flex;
        justify-content: space-around;
      
    }
    #genrePdf
    {
        position: inherit;
    }

    .principal
    {   
        margin: 1em;
        width: 60%;
        height: 0%;
        padding: 0 1em;
    }
   
}